

#header-wrap{
	border-top: 3px solid #bc1e2d;
}

#primary-menu ul li > a {
	text-transform: capitalize;
	}


.banner{
    background-image: url('../img/banner.png');
    background-size: 100% 100%;   
    height: 450px; 
  }

  .cek-resi{
  	background-color: #bc1e2d;
  	color: #FFF;
  	padding: 30px 0px 30px 0px;
  	height: 145px;
  }

  .input-resi{
  	padding-top: 20px;
  }

  .btn-cek-resi{
  	background-color: #231f20;
  }

.cek-tarif{
	background-color: #000;
  	color: #FFF;
  	padding: 30px 22px 30px 23px;    
  	height: 145px;
}

.label-tarif{
	font-size: 11px;
}

.berat{
	padding-right: 0px;
  width: 11%;
}

.kg{
	padding-left: 4px;
  	width: 5%;
}

.btn-cek-tarif{
	  background: #bc1e2d;
  color: #FFF;
  border: 0px;
}

#about-us{
  margin: 50px 0px 20px 0;
}

.col-about-us{
  padding: 12% 6%;
}

.label-about-us{
  font-size: 20px;
  font-weight: bolder;
}

.line-label-about-us{
  border-top: 2px solid red;
  width: 12px;
  margin: 7px 17px 12px;
}

.logo{
  padding: 19px 0px;
}

#service{
  background: #000000;
  color: #FFF;
  padding: 32px;
}

.content-service{
  padding: 34px 0px;
}

.service-label{
  text-align: center;
  font-size: 27px;
}

.line-label-service{
  border-top: 2px solid #a51b27;
  width: 2%;
  margin: 0 auto;
}

.label-one-service{
    text-align: right;
  padding: 15% 0px;
}

.reguler{
  border-left: 1px solid #FFF;
}

.label-reguler{
  margin: 15% 0px;
}

.lbl-day{
  font-size: 20px;
  font-weight: bolder;
}

#company-value{
    background-image: url('../img/peta.png');
    background-size: 100% 100%;   
    height: 430px; 
    padding: 4% 0px;
  }

.label-company-value, .label-keunggulan-value, .label-contact {
  font-size: 27px;
  font-weight: bolder;
  text-align: center;
}

.line-company-value, .line-keunggulan-value, .line-label-contact{
    border-top: 2px solid #a51b27;
  width: 2%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.center{
  text-align: center;
}

#keunggulan{
  background-color: #000;
  padding: 4% 0px;
  color: #FFF;
}

.col-keunggulan{
  text-align: center;
}

.col-keunggulan img{
  width: 40%;
}

#contact{
  background-color: #cbcbcb;
  padding: 4% 0px; 
}

.input-contact{
  margin: 0 25%;
}

.btn-kirim{
  background: #bc1e2d;
  color: #FFF;
  float: right;
  padding: 6px 40px;
}

#footer{
  margin-top:0px !important;
  background: black;
  border-top: 11px solid #bc1e2d;  
}

.footer{
    background-color: #000;    
    padding: 12px 72px;
}

.footer-logo img{
  width: 23%;
  margin: 4% 0;
}

.footer-phone{
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
    color: #FFF;
}

/*.footer-phone img{
  width: 23%;
}*/

.footer-address{  
  text-align: right;
  padding: 2%;
  color: #FFF;
}


.footer-phone img{
  width: 16%;
  margin: 13% 0;
}

.lbl-kota-address{
  font-size: 20px;
}

.input-tarif-detail{
    padding: 3% 8%;
    border-bottom: 1px solid #9b9b9b;
    font-size: 19px;
}

.label-cek-tarif{
  font-size: 27px;
  font-weight: bolder;
  text-align: center; 
  padding-bottom: 2%;
}

.tarif-title{
  text-align: center;
  padding: 10px;
  background: #f1f1f1;
  margin: 4% 0px;
  font-size: 22px;
  padding: 18px;
}

.table{
  font-size: 18px !important;  
}

.table thead{
  background: #bc1e2d;
  color: #FFF;  
}

.group-btn-cek-resi{
  text-align: center;
}

.group-btn-cek-resi input{
  background-color: #bc1e2d;
  color:#FFF;
  margin: 3% 0px;
  padding:3px 20px;
}


.tbl-tracking .table{
  margin: 6% 0;
}

.tarif-weight{
  background: #0009ff;
  color: #FFF;
  padding: 5px;
}

@media (max-width: 450px){
  .banner{
    height: 100px;
  }

  .cek-resi, .cek-tarif{
    height: auto;
  }

  .input-resi{
    margin: 0;
  }

  .label-cek-resi{
    margin: 0px 18px;
  }

  #company-value{
    height: auto;
  }

  #company-value .center img{
    max-height: 53px;
  }

  .input-contact {
    margin: 0 5%;
  }

  .berat{
    width: 70%;
    padding-bottom: 20px;
  }

  .lbl-day {
    font-size: 13px; 
  }

  .label-reguler {
    font-size: 12px; 
    margin: 5% 0;
  }

  .label-one-service{
    font-size: 12px; 
    margin: -6%;
  }

  #company-value p{
    font-size: 10px;
  }

  .footer-logo img {
    width: 73%;   
  }

  .footer-phone {
    font-size: 12px;   
  }

  .table {
    font-size: 15px !important;
  }

  .reguler{
    border-left: 0;
  }
}