 
 .btn-view{
        float: right;
        margin-top: -52px;
    }

    
    .title{
        margin-bottom: 32px;
    }
    .or{
        padding: 20px;
          color: #000;
          font-size: 20px;
    }
    .phone-true{
        background: #ef5448;
        color: #FFF;
    }
    .row{
        padding: 0px;
        margin: 0px;
    }
    #menu{
        padding: 0px 12px;
    }

    .tab{    	
  		width: 14%;
  		text-align: center;  		
    }

    .tab a{
    	color: #000;
    }

    .tab.active{
    	border-bottom: 1px solid #ee5448;
    }

    .container{
        width: 87%;
        text-align: center;
    }

    #section-form{
        margin-bottom: 22px;
    }

    #printableArea1{
          margin: 0 35%;
    }

    .download{
        background: #9b9b9b;
    }
.clstime{
    margin:0 30px 0 0;
}

.row-upload{
      margin-top: 3%;
}


#import_file{
    background: #FFF;
  border: none;
}

#syarat{
    color: #ef5448;
    cursor: pointer;
}

.left-content{
    margin: 0px 2%;
}

.right-content{
    border: 1px solid #ccc;
    padding: 2%;
    margin-bottom: 2%;
}

.row-tab{
    padding-bottom: 3%;
}

.title-right-content{
    font-size: 20px;
    margin: 0px 0px 2% 0px;
}

.cls-content-dashboard{
    padding-right: 15%;
}

.phone-notify{
    background: #fefb76;
    margin: 10px 2px;
    padding: 10px;
}

.note-pickup{
    border-top: 1px solid #EEE;
    margin: 10px 0px 1px 0px;
    padding: 13px;
}

.left{
    float: left;
}

.edit-btn{
    float: right;
    border: 1px solid #eee;
    padding: 0 26%;
    cursor: pointer;
}

.img-logo{
    width: 50px;
    margin: 10px;
}

.title-shop-name{
    padding: 2% 0px;
    font-size: 23px;
}

.row-edit-merchant{
    padding: 1% 0px;
}

ul {
   list-style: none;
   margin-left: 0;   
}

.xleft{
    text-align:left;
}

.note-pickup-time{
    background: #fefb76;
    padding: 20px;
    width: 51%;
}

.howto ol, .howto ol li{
    padding-left: 17px;
}

.login-box{
    padding: 25px 26%;text-align: left;
    margin: 0 27%;
}

.edit-shop{
    padding-left: 3%;
}

.lbl-register{
    float: left;
}

@media(max-width: 425px){
    .login-box {     
         margin: 0px;
    }
    .feature-box.fbox-bg.fbox-center {
        padding: 0px;
    }

    .xleft {     
      font-size: 11px;
    }

    .two-sign{
        display: none;
    }

    #printableArea{
        overflow-x: scroll;
    }

    .tab {           
      font-size: 11px;
      width: 34%;
    }

    .cls-content-dashboard{
        padding: 0px;
    }
}