.top-menu{
	background: #d92126;
}

.title-howto{
	text-align: center;
  	margin: 3% 0%;	
}

.title-howto img{
	width:16%;
}

.center{
	text-align: center;
}

.how-to-detail{
	text-align: center;
}

.how-to-detail img{
	width: 57%;
}

.category{
	border-bottom: 1px solid #d92126;
	margin-top: 4%;
}

.category img{
	width: 16%;
}

.category1{
	border-bottom: 1px solid #d92126;
	height: 35px;
}

.category1 img{
	width: 40%;
	height: 35px;
}

.title-merchant{
	text-align: center;
  	margin: 3% 0%;
}

.title-merchant img{
	width: 15%;
}

.row-footer{
	margin: 0px;
	padding: 7px 22%;
	background: #191819;
}

.row-socmed{
	margin: 0px;
	padding: 7px 38%;
	background: #191819;
	padding-top: 7%;
}

.row-socmed img{
	width: 50%;
}

.col-btn-kirim-psn{
	text-align: center;
}

.btn-kirim-psn{
	background: #191819;
  	border: 1px solid #FFF;
  	color: #FFF;
}

.tree-landing-footer{
	width:33.33333333%;
	float: left;
}

.five-landing{
	width: 20%;
  	float: left;
  	padding: 10px;
  	border: 1px solid #666666;
  	margin: 0%;
  	border-style: dashed;
  	text-align: center;
  	height: 180px;
}

.row-category1{
	margin: 3% 4%;
}

.five-landing img{	
  	max-height: 151px;
}

.pad-menuright{
	padding-right: 0px;
}

.pad-menuleft{
	padding-left: 0px;
}

.daftar-merchant{
	text-align: center;
}

.daftar-merchant img{
	width: 9%;
}

.two-category{
	margin-top: 7%;

}


.two-landing{
	border: 1px solid #000;
  	border-style: dashed;
  	text-align: center;
}

.two-landing img{
	height: 123px;
}

.title-loker{
	text-align: center;
  	margin-top: 6%;
}

.title-loker img{
	max-width: 15%;
}

.sub-footer{
	background: #d92126;
	height: 32px;
}

.dropdown-menu li{
	padding: 0px 10px;
	cursor: pointer;
}

.footer{
	text-align: center;
  	background: #191819;  	
  	padding: 3%;
}


.img-title{
	width: 21%;
}



.btn-group{
	width: 86%;	
}

.choose-locker{
	padding: 10px 0px;
}

.dropdown-menu li{
	padding: 0px 10px;
	cursor: pointer;
}

.dropdown-toggle{
	width: 100%;
}

.drop-filter{
    margin: 30px 0px;
}

#map_wrapper {
    height: 400px;
}

#map_canvas {
	width: 84%;
    height: 88%;
    margin: 0 auto;
}

.row-lading{
	margin: 6%;
}
.top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

.top-menu li {
    float: left;
	padding: 8px 20px;
	font-size: 12px;	
	color: #FFF;
}

.top-menu li a{
	color: #FFF;
}

.menu{
	width: 64%;
  	margin: 0 auto;
}

.more-fashion, .more-kids, .fashion-less, .kids-less{
	display: none;
}

#show_all_fashion{
	cursor: pointer;
}


@media(max-width: 450px){
	.five-landing {
		width: 50%;
  		height: 144px;
  		margin: 0 0%;
	}

	.daftar-merchant img {
	  width: 27%;
	}

	.category img {
	  width: 49%;
	}

	.top-menu li a {
		  font-size: 9px;
	}

	.title-merchant img {
		  width: 30%;
		}

	.row-footer {
	  padding: 7px 5%;	 
	}

	.field-sort{
		padding-top:15px;
	}

	.tree-landing-footer {
	  width: 60%;
	  margin: 0% 20%;
	}


	.title-loker img {
	  max-width: 35%;
	}

	.btn-group {
	  width: 94%;
	  margin: 10px;
	}

	.title-howto img {
	  width: 32%;
	}

	.row-socmed img {
	  width: 62%;
	  margin: 5px;
	}

	.banner{
		padding: 0px;
	}

	.pad-menuright {
	  padding: 0px;
	}

}